[alias]
	clbranches = "! git branch -d $(git branch --merged=master | grep -v master)"
	f = "! git commit --fixup $(git log --pretty='%H' -1 --invert-grep --grep 'fixup! ')"
	fs = "!f() { git commit --fixup :/$1 ; }; f"
	mom = merge origin/master -m \"Merge origin/master\"
	rom = rebase -i origin/master
	root = rev-parse --show-toplevel
[core]
	editor = vim
	fileMode = true
[fetch]
	prune = true
	pruneTags = true
[merge]
	conflictstyle = diff3
	tool = vimdiff
[mergetool]
	keepBackup = false
	prompt = false
[pull]
	rebase = false
[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	email = bryan@coder.com
	name = Bryan Phelps
	signingKey = C18B89082069E05F
[rerere]
	enabled = true
[commit]
	gpgsign = true
